body > div {
  margin: 20px;
  border: 1px solid black;
}
#t1 .square {
  width: 250px;
  height: 250px;
  background-color: chocolate;
  text-align: center;
}
#t2 .square {
  width: 250px;
  height: 100px;
  background-color: green;
  text-align: center;
  line-height: 100px;
}
#t3 {
  display: flex;
  flex-wrap: wrap;
}
#t3 .square {
  width: 120px;
  height: 120px;
  background-color: blue;
  margin-right: 20px;
  margin-bottom: 20px;
}
#t4 {
  display: flex;
  flex-wrap: wrap;
}
#t4 .square {
  width: 120px;
  height: 120px;
  background-image: url('image.png');
  background-size: contain;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}
#t4 .square:hover {
  transform: scale(130%);
}