{% extends 'task/base.html' %}

{% block content %}
<style>
  #addTaskForm label {
    width: 110px;
  }
</style>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <h3 class="mb-4">افزودن کار</h3>
    <form action="{% url 'task:add-task' %}" method="post" id="addTaskForm">
      {% csrf_token %}
      <div class="mb-3 input-group has-validation">
        <label for="id_title" class="input-group-text">عنوان</label>
        <input
          type="text"
          class="form-control {% if form.title.errors %}is-invalid{% elif form %}is-valid{% endif %}"
          name="title"
          id="id_title"
          maxlength="100"
          {% if form.title.value %}value="{{ form.title.value|escape }}"{% endif %}>
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
            <div>{{ error|escape }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="mb-3 input-group has-validation">
        <label for="id_deadline" class="input-group-text">ددلاین</label>
        <input
          type="text"
          name="deadline"
          id="id_deadline"
          class="form-control {% if form.deadline.errors %}is-invalid{% elif form %}is-valid{% endif %}"
          {% if form.deadline.value %}value="{{ form.deadline.value|escape }}"{% endif %}>
        <div class="invalid-feedback">
          {% for error in form.deadline.errors %}
            <div>{{ error|escape }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="mb-3 input-group has-validation">
        <label for="id_estimated_hours" class="input-group-text">تخمین زمانی</label>
        <input
          type="text"
          class="form-control {% if form.estimated_hours.errors %}is-invalid{% elif form %}is-valid{% endif %}"
          name="estimated_hours"
          id="id_estimated_hours"
          {% if form.estimated_hours.value %}value="{{ form.estimated_hours.value|escape }}"{% endif %}>
        <span class="input-group-text">ساعت</span>
        <div class="invalid-feedback">
          {% for error in form.estimated_hours.errors %}
            <div>{{ error|escape }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="mb-3 input-group has-validation">
        <label for="id_value" class="input-group-text">ارزش</label>
        <input
          type="text"
          class="form-control {% if form.value.errors %}is-invalid{% elif form %}is-valid{% endif %}"
          name="value"
          id="id_value"
          {% if form.value.value %}value="{{ form.value.value|escape }}"{% endif %}>
        <span class="input-group-text">$</span>
        <div class="invalid-feedback">
          {% for error in form.value.errors %}
            <div>{{ error|escape }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="mb-3 input-group has-validation">
        <label for="id_description" class="input-group-text">توضیحات</label>
        <textarea
          id="id_description"
          name="description"
          class="form-control {% if form.description.errors %}is-invalid{% elif form %}is-valid{% endif %}"
          form="addTaskForm">{% if form.description.value %}{{ form.description.value|escape }}{% endif %}</textarea>
        <div class="invalid-feedback">
          {% for error in form.description.errors %}
            <div>{{ error|escape }}</div>
          {% endfor %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">اضافه کن</button>
    </form>
  </div>
</div>
{% endblock content %}