{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'task/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark row">
      <div class="container-fluid">
        <a href="{% url 'task:index' %}" class="navbar-brand">سامانه انجام کار</a>
      </div>
    </nav>
    <div class="row">
      <div id="main-content" class="col-lg-9 mt-3">
        {% block content %}{% endblock %}
      </div>
      <div class="col-lg-3 mt-3" id="authentication">
        {% if error %}
          <div class="alert alert-danger" role="alert">{{ error|safe }}</div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success" role="alert">{{ success|safe }}</div>
        {% endif %}
        {% if user.is_authenticated %}
          <h5>
            کاربر
            {{ user.get_full_name }} ({{ user.username }})
          </h5>
          {% if user.taskuser %}
            <div class="mb-3">
              به عنوان
              {% if user.taskuser.is_master %}
                کارفرما
              {% else %}
                پیمان‌کار
              {% endif %}
              وارد شده‌اید.
            </div>
          {% else %}
            <div class="alert alert-warning" role="alert">اطلاعات حساب کاربری خود را تکمیل کنید</div>
          {% endif %}
          {% if user.taskuser.is_master  %}
            <a href="{% url 'task:add-task' %}" class="btn btn-dark w-100 mb-2">افزودن کار</a>
          {% endif %}
          <form action="{% url 'task:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark w-100">خروج</button>
          </form>
        {% else %}
          <h3 class="mb-4"> ورود </h3>
          <form action="{% url 'task:login-request' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <input type="email" class="form-control" name="email" placeholder="ایمیل">
            </div>
            <button type="submit" class="btn btn-dark w-100">ورود</button>
          </form>
          <hr>
          <h3 class="mt-5 mb-3">ورود با رمز یکبار مصرف</h3>
          <form action="{% url 'task:login-resolve' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="رمز یکبار مصرف">
            </div>
            <button type="submit" class="btn btn-dark w-100">ورود</button>
          </form>
        {% endif %}
        <hr>
      </div>
    </div>
    <footer>
      <hr>
      <span> درباره‌ی ما</span>
      <span>قوانین</span>
    </footer>
  </div>
</body>
</html>