{% extends 'task/base.html' %}
{% load cache %}
{% block content %}
<div class="row mt-3">
  <div class="col-sm-12 d-flex flex-row">
    <h3 class="flex-grow-1">{{ task.title }}</h3>
    <a class="btn btn-primary px-5{% if not can_do %} disabled{% endif %}">انجام می‌دم</a>
  </div>
</div>
<hr>
{% cache 300 task_details task.id %}
<div class="row mt-3">
  <div class="col-sm-2">
    {{ task.author.user.get_full_name }}
  </div>
  <div class="col-sm-4">
    ساخته شده در
    <span>{{ task.created_at|date:"Y/n/j G:i"}}</span>
  </div>
  <div class="col-sm-3">{{ task.value }}$</div>
  <div class="col-sm-3">{{ task.estimated_hours }} ساعت</div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <h3>توضیحات</h3>
    <p>{{ task.description }}</p>
  </div>
</div>
{% endcache %}
{% endblock content %}