{% extends 'task/base.html' %}
{% load cache %}
{% block content %}
{% cache 300 task_index page.number %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>عنوان کار</th>
      <th>ارزش کار</th>
      <th>تخمین زمانی</th>
      <th>صاحب کار</th>
      <th>توضیحات</th>
    </tr>
  </thead>
  <tbody>
    {% for task in page %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.value }}$</td>
        <td>{{ task.estimated_hours }} ساعت</td>
        <td>{{ task.author.user.get_full_name }}</td>
        <td>
          <a href="{% url 'task:details' task.id %}" class="btn btn-primary">توضیحات بیشتر</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div id="tasks-paginator">
  <nav>
    <ul class="pagination justify-content-center">
      {% if not page.has_previous %}
        <li class="page-item disabled">
          <span class="page-link">&laquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">قبلی</span>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page=1" class="page-link">&laquo;</a>
        </li>
        <li class="page-item">
          <a href="?page={{ page.previous_page_number }}" class="page-link">قبلی</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a href="?page={{ page.number }}" class="page-link">{{ page.number }}</a>
      </li>
      {% if not page.has_next %}
        <li class="page-item disabled">
          <span class="page-link">بعدی</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page={{ page.next_page_number }}" class="page-link">بعدی</a>
        </li>
        <li class="page-item">
          <a href="?page={{ page.paginator.num_pages }}" class="page-link">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endcache %}
{% endblock content %}