{% extends 'task/base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-6 mx-auto">
    <h3 class="mb-4">ثبت نام</h3>
    <form action="{% url 'task:signup' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input
          class="form-control"
          type="text"
          name="firstname"
          id="firstname"
          placeholder="نام"
          value="{{ form.firstname.value }}">
      </div>
      <div class="mb-3">
        <input
          class="form-control"
          type="text"
          name="lastname"
          id="lastname"
          placeholder="نام خانوادگی"
          value="{{ form.lastname.value }}">
      </div>
      <div class="mb-3 form-check">
        <input
          name="is_master"
          type="checkbox"
          class="form-check-input">
        <label class="form-check-label" for="master">کارفرما</label>
      </div>
      <button type="submit" class="btn btn-primary w-100" value="login">ثبت نام</button>
    </form>
  </div>
</div>
{% endblock content %}
