<table>
<tr>
<th><strong>Name</strong></th>
<th><strong>Age</strong></th>
<th><strong>City</strong></th>
<th><strong>Grade</strong></th>
<th><strong>Comment</strong></th>
</tr>
<tr>
<td>Gholam</td>
<td>21</td>
<td>Tehran</td>
<td>18</td>
<td>Good boy</td>
</tr>
<tr>
<td>Somayye</td>
<td>?</td>
<td>Tehran</td>
<td><u>20</u></td>
<td></td>
</tr>
<tr>
<td>John</td>
<td>25</td>
<td>New York</td>
<td>19</td>
<td><u>Khareji!</u></td>
</tr>
<tr>
<td>Asghar</td>
<td>30</td>
<td>???</td>
<td><u>0</u></td>
<td><strong>Failed!</strong></td>
</tr>
</table>
